
p::first-line{
    font-weight: bold;
}

p::first-letter{
    font-size: 3rem;
}

p:hover{
    color:red;
}

.header:hover{
    background: blue;
    color: white;
}

a:hover{
    text-decoration: none;
}
