
div{
    background: blue;
    margin:10px;
    color: white;
}

.none{
    display: none;
}

.opacity{
    opacity: 1;
}

.opacity-0 {
    opacity: 0;
}

.opacity-5{
    opacity: 0.25;
}

.visiblity{
    visibility: hidden;
}