*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul li{
    list-style-type: none;
}

ul li a{
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 2px;
  background: black;
  color:orangered;
  /* display: block; */
  padding: 10px;
}

a{
    font-size: 50px;
    background: red;
    margin: 10px;
    display: inline-block;
}