h1{
    background: red;
    /* padding-top: 30px;
    padding-bottom: 60px;
    padding-left: 25px;
    padding-right: 50px; */
    padding: 20px;
    margin-right: 50px;
    margin-bottom: 0;

    border-style: solid;
    border-width: 10px;
    border-color: yellow;
    border-radius: 20px;

    /* border-bottom-style: dashed;
    border-bottom-width: 5px;
    border-bottom-color:chartreuse */
}

p{
    background: blue;
    border:13px solid yellow;
    /* padding: 50px; */
    /* padding: 30px 60px; */
    padding:20px 40px 60px 10px;
    /* margin-top: 0; */
    margin:50px 20px;
    border-radius: 50%;
}