/* .heading{
    color:red;
}

.text{
    color:green;
}

.main-text{
    color:blue;
}

.second-heading{
    color:blueviolet
} */

:root{
    --primaryColor:red;
    --secondaryColor:blue;
    --mainTransition:all 0.4s linear;
}

.heading{
    color:var(--primaryColor)
}

.second-heading{
    color:var(--primaryColor)
}

.second-heading:hover{
    color:var(--secondaryColor)
}
