.green{
    color:green;
}

.red{
    color:red;
}

#title{
    font-size: 40px;
}

.lowercase{
    text-transform: lowercase;
}

div{
    color:red;
    background: grey;
}

span{
    text-transform: uppercase;
}