body{
    font-family: monospace;
    line-height: 1.5em;
    color:blue
}

div{
    color:red;
    border:3px solid black
}

h2{
    color:green
}

p{ 
    color:blue
}

.red{
    color:red
}

*{
    color:black
}