p::before{
    content: "hello";
    display: block;
    background: black;
    font-weight: bold;
    font-size: 2rem;
    color: red;
}

p::after {
    content: "";
    display: block;
    background: green;
    width: 50px;
    height: 50px;
}

div{
    width: 40vw;
    margin: 100px auto;
    border: 2px solid red;
 
}

img{
    width: 100%;
    display: block;
}

div::before{
    content: "";
    border:2px solid grey;
    width:100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    top: -40px;
    left:-40px;
    z-index:-2;
}

div::after{
    content: "";
    background: grey;
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    top: -20px;
    left:-20px;
    z-index: -1;
}

div:hover::after,
div:hover::before{
    top:0;
    left:0;
}