
/* 1em= 16px */
/* em depends on the parent */
html{
    font-size: 32px;
}
div{
    font-size: 10px;
}
.relative{
    font-size: 2rem;
}

.absolute{
    font-size: 64px;
}

.banner{
    width: 50vw;
    height: 50vh;
    background-color: red;
}

.header{
    width: 100vw;
    height: 100vh;
    background:blue ;
}