.buttons{
    margin: 3rem;
}

a{
    background: greenyellow;
    text-decoration: none;
    padding: 1.2rem 1.5rem;
    color:black;
    text-transform: uppercase;
    cursor: pointer;
}

#one{
    border:0.2rem solid black;
}

#two{
    outline-style: solid;
    outline-color: black;
    outline:0.2rem solid black;
    outline-offset:-10px
}