
body{
    background: yellow;

}

.banner{
    background: blue;
}

h1{
    color:white;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
}

@media screen and (min-width:576px){
    body{
        background: red;
    }
    .banner{
        background: yellow;
    }
    h1{
        font-size: 60px;
    }
}