
body{
    text-align: center;
}
.block{
    background: blue;
    color:white;
    /* display: inline; */
    width:150px;
    margin:20px auto;
}

.inline{
    background: red;
    color:white;
    /* display: block; */
}