div{
    width: 150px;
    height: 150px;
    display: inline-block;
}

div:hover{
    background: coral;
}

.one{
    background: red;
    /* transform: translateX(-20px); */
    /* transform: scaleX(0.5); */
    transform: skewX(-20deg);
}


.two{
    background: green;
    /* transform: translateY(30px); */
    transform: rotateZ(135deg);
}

.three{
    background: blue;
    /* transform: translateX(75px); */
    /* transform: translate(20px,30px); */
    /* transform: rotateX(20deg); */
    transform: skew(40deg);
    
    /* Transition */
    transition-property: background;
    transition-duration: 4s;
    transition-delay: 3s;
}