button{
    background: red;
    font-size: 40px;
    color:white;
    position: fixed;
    top:0;
    right: 0;
}

div{
    border: 3px solid red;
    background: yellow;
    margin-top: 40px;
    text-align: right;
}

.one{
    background: blue;
}

.two{
    background: green;
    position: relative;
}

.special{
    background-color: lightcoral;
    font-size: 20px;
    position: absolute;
    top:0;
    right: 0;
} 