/* h1{
    font-size: 60px;
    width: 500px;
    background-color: blue;
}   */

.outer{
    width: 500px;
    height: 500px;
    background-color: blue;
}

.inner{
    width:50%;
    height: 50%;
    background-color: red;
}