/* #first{
    color:aqua;
    background-color:#d2691e;
} */

#second{
    color:beige;
    background: yellow;
}

#first{
    color:#e65f5f;
    background: #000;
}

body{
    background-color: rgb(110, 74, 168);
}