*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

div{
    float: left;
    height: 200px;
    width: 33.33%;
}

.one{
    background: red;
}

.two {
    background: blue;
}

.three {
    background: green;
}