div{
    height: 400px;
    color:red;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.big-img{
    background: url("./french-roast.jpeg");
    background-attachment: fixed;
}

.small-img {
    background: url("./image.jpeg");
    background-repeat: no-repeat;
    border:2px solid red;
    background-repeat: space ;
    background-repeat: round;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.folder-img {
    background: url("./image2.jpeg");
    background-repeat: repeat-y;
    background-attachment: fixed;
}