body{
    font-family: "Alkatra";
    /* font-family: Helvetica; */
    text-align: center;
}

h1{
    font-family: Verdana;
}

.main{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    /* text-align: left; */
}

a{
    font-size: 40px;
    text-decoration: none;
}

.one{
    font-weight: 800;
    font-style: italic;
    text-indent:  50px;
    line-height: 0.5em;
    word-spacing: 20px;
    text-decoration: line-through;
}

.two{
    font-weight: lighter;
    font-style: oblique;
    letter-spacing: 5px;
    text-decoration: overline;
}